*:not(#waybar) {
  border: none;
  border-radius: 8px;
  font-family: "FiraCode Nerd Font";
  font-size: 12px;
  font-weight: bold;
}

@import "./themes/mocha.css";


/* ===================== BAR ========================== */
window#waybar {
  /* background: @crust; */
  background: rgba(11,11,27,0.75);
}


/* ==================== WORKSPACE ==================== */
#workspaces button {
  color: @overlay2;
  border-radius: 50%;
  margin: 0px 0px;
  padding: 0px 8px 0px 4px;
}

#workspaces button:hover {
  color: @mauve;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button:hover * {
  color: @mauve;
  background-color: @base;
}

#workspaces button.active {
  color: @text;
}

#workspaces {
  border-style: solid;
  background-color: transparent;
  border-radius: 10px;
  margin: 7px 0px 7px 8px;
}


/* ==================== CLOCK ======================== */
#clock {
  font-family: "Inter";
  font-weight: bold;
  font-size: 13px;
}


/* ==================== AUDIO ============== */
#pulseaudio {
  font-family: "Inter";
  font-weight: bold;
  font-size: 12px; 
  margin: 0;
  /* border-top: 2px solid @sky; */
  border-radius: 4px;
  color: @text;
}


/* ==================== BATTERY ================= */
#battery {
  font-family: "Inter";
  font-weight: bold;
  font-size: 12px;
  /* border-top: 2px solid @green; */
  border-radius: 4px;
  color: @text;
}


/* ==================== NETWORK ================ */
#network {
  font-family: "Inter";
  font-weight: bold;
  font-size: 12px;
  /* border-top: 2px solid @lavender; */
  border-radius: 4px;
  color: @text;
}


/* =================== NOTIFICATION =========== */
#custom-notification {
  padding: 0 12 0 0;
  background: transparent;
  border-radius: 25;
}

/* ==================== SYSTEM INFO ================== */
#systeminfo {
  margin: 0 10 0 20;
  font-family: "Inter";
  font-weight: bold;
  font-size: 12px;
  /* border-top: 2px solid @red; */
  border-radius: 4px;
}

#cpu {
  color: @text;
}

#memory {
  color: @text;
}

#temperature {
  color: @text;
}

/* ============== Modules animation ====*/

#cpu:hover, #memory:hover, #temperature:hover, #pulseaudio:hover, #network:hover, #battery:hover {
  color: @mauve;
  border-bottom: 4px solid @base;
  border-radius: 4px;
}

/* ============== TOOLTIP ================= */
#tooltip {
  font-size: 14px;
  font-family: "Inter";
  font-weight: bold;
  background: @base;
  color: @text;
  border-radius: 17px;
}


*:not(#waybar) {
  border-radius: 3px;
}


/* =============== TRAY ==================== */
#tray * {
font-family: "Inter";
font-weight: bold;
}

#tray image {
background-color: transparent;
}

#tray menu * {
background-color: transparent;
}

#tray menu {
background-color: @mantle;
}

#tray window {
background-color: transparent;
}

#tray icon * {
background-color: transparent;
}

#tray menu menuitem * {
background-color: transparent;
}

#tray menu menu {
background-color: @mantle
}

#tray menu menuitem {
  background-color: @mantle;
  color: @text;
}

#tray menu menuitem:hover {
  background-color: @surface0;
  color: @subtext;
}

#tray menu separator {
  min-height: 10px;
  background: @mantle;
}

